
#btn-login{
    width: 250px;
    height: 45px;
    background-color: #FF5C16;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    
}

.icon{
    width: 25px;
    margin-right: 5px;
}

#btn-login:hover{
    animation: enlarge 0.5s forwards;
}

#btn-login:not(:hover){
    animation: reduce 0.5s forwards;
}

